
html { font-family: Segoe UI, Arial, Helvetica, sans-serif; font-weight: bold; padding:10px; color: #555; text-shadow: 0px 0px 5px rgba(150, 150, 150, 1); background-color: gainsboro; }
body {  margin: auto; padding: 1em; max-width: 1200px; background-color: white; border: 1px solid black; border-radius: 0.25em;  }
a { color: #293e60; }
h1 { padding: 0; margin: 0; text-align: center; }
p {padding-top: 0.35em}
li {padding: 0.3em;}
label { display: block; }
.grid { display: flex; flex-flow: row wrap; align-content: flex-start; letter-spacing: -.31em; vertical-align: bottom; }
.grid > * { display: inline-block; padding: 0.4em 1em; box-sizing: border-box; letter-spacing: normal; }
.u-1 { width: 100%; }
.u-1-2 { width: 50%; }
.u-1-3 { width: 33.3%; }
.u-1-4 { width: 25%; }
.u-1-5 { width: 20%; }
.u-4-5 { width: 80%; }
.u-1-6 { width: 16.66%; }
.u-1-8 { width: 12.5%; }
.u-3-8 { width: 37.5%; }
.u-1-10 { width: 10%; }
.u-1-12 { width: 8.33%; }
textarea { font-family: Segoe UI, Arial, Helvetica, sans-serif; font-size: 1em; width:100%; border: 1px solid black; border-radius: 10px;  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5); }
input[type=text],
input[type=number] { width: 100%; box-sizing: border-box; padding: 0.5em; border: 1px solid black; border-radius: 10px; box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);}
input[type=number] { text-align: center; min-width: 62px; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0; }
button { padding: 0.5em; cursor: pointer;  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5); border: 1px solid black; border-radius: 10px; }

.control { display: inline-block; color: white; font-size: 0.75rem; width: 10%; min-width: 62px; text-align: center; padding: 1.5em 0; margin: 0; }
.z1 { background-color: #837C83; }
.z2 { background-color: #3C8FD1; }
.z3 { background-color: #4AC171; }
.z4 { background-color: #FFCC3F; }
.z5 { background-color: #F06D43; }
.z6 { background-color: #D6270C; }
.wu { background: linear-gradient(to right, gainsboro, black); }
.cd { background: linear-gradient(to left,  gainsboro, black); }
.fr { background: linear-gradient(gainsboro, #837C83); }
.in { background: repeating-linear-gradient(to right, #837C83, #837C83 15px, #3C8FD1 15px, #3C8FD1 30px); }

.template { display: none; }
.indicator { width: 1em; height: 1em; margin-top: auto; margin-bottom: auto; border-radius: 100%; vertical-align: bottom; line-height: 1em; }

#divSegmentChart { width: 100%; box-sizing: border-box; margin: 0; white-space: nowrap; background-color: white; height: 320px; vertical-align: bottom; padding: 10px; overflow-x: auto;  border: 1px solid black; border-radius: 10px;  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5); }
.segment {display: inline-block; height: 100%; }
.segment > label { display: inline-block; height: 100%; padding: 0; margin: 0; border-bottom: 8px solid transparent; }
.segment > label > div { display: inline-block; height: 100%; box-sizing: border-box; padding: 0; margin: 0; }
.segment > label > div > div { height: 100%; box-sizing: border-box; border: 1px solid white; border-radius: 4px; padding: 0; margin: 0; }
.segment > input[type="radio"] { display: none; }
.segment > input[type="radio"]:hover + label { border-bottom: 8px solid gainsboro; }
.segment > input[type="radio"]:checked + label { border-bottom: 8px solid black; }

a { display: block; color: #456; }
.transparent { opacity: 0; }
.opaque { transition-duration: 1s; transition-property: opacity; opacity: 1; }