<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>zwofactory.com - Templates</title>
    <link rel="stylesheet" href="/site.css" /><link rel="apple-touch-icon-precomposed" sizes="57x57" href="/img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/img/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/img/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/img/favicon-128.png" sizes="128x128" />
    <link rel="icon" href="/img/favicon.ico?v=0" />
    <meta name="application-name" content="zwofactory"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/img/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/img/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/img/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/img/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/img/mstile-310x310.png" />
    <style>.folder { padding: 1em; margin: 0.5em; border: 1px solid #555; border-radius: 10px; }</style>
</head> 
<body>
<header>
<h1><a href="/">
<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="40.000000pt" height="20.700000pt" viewBox="0 0 300.000000 167.000000" preserveAspectRatio="xMidYMid meet">
    <g transform="translate(0.000000,167.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none"><path d="M1638 1100 l3 -310 -170 0 -171 0 3 195 2 194 -30 -28 c-26 -25 -671 -611 -1073 -975 -78 -71 -142 -131 -142 -133 0 -2 653 -3 1450 -3 l1450 0 0 375 0 375 -165 0 -165 0 0 310 0 310 -115 0 -115 0 0 -310 0 -310 -80 0 -81 0 3 310 3 310 -112 0 -113 0 0 -310 0 -310 -80 0 -80 0 0 310 0 310 -112 0 -113 0 3 -310z m180 -20 c2 -275 3 -285 24 -307 19 -20 31 -23 98 -23 120 0 114 -16 120 329 l5 286 65 0 65 0 5 -286 c6 -345 0 -329 120 -329 120 0 114 -16 120 329 l5 286 58 3 c35 2 64 -2 73 -9 11 -9 14 -62 14 -287 0 -346 -12 -322 166 -322 67 0 129 -3 138 -6 14 -5 16 -44 16 -329 0 -285 -2 -324 -16 -329 -26 -10 -2714 -7 -2714 3 0 12 109 113 644 600 231 209 423 381 428 381 4 0 8 -54 8 -120 0 -135 13 -186 52 -195 13 -3 93 -4 178 -3 l155 3 17 35 c16 31 18 68 18 301 0 146 3 269 7 273 4 4 34 6 68 4 l60 -3 3 -285z"/></g>
</svg>
zwofactory.com
</a></h1>
</header>

<main>
Workout Templates<hr />
<div class="grid">
    <div class="u-1-10 u-sm-1">Group:</div>
    <div class="u-9-10 u-sm-1"><select id="selWorkoutGroups"><option></option></select></div>
</div>
<div id="divToCloneFolder" class="invisible folder">
    <a data-toggle></a><div class="invisible striped"></div>
</div>
<div id="divToCloneWorkout" class="invisible">
    <div class="grid">
        <div class="u-1-4 u-sm-1"><div data-name></div><div data-author></div><div data-tags></div></div>
        <div class="u-3-8 u-sm-1"><div data-workout></div></div>
        <div class="u-3-8 u-sm-1"><div data-description></div></div>
        <div class="u-1-4 u-sm-1-2"><button data-clone>Clone</button></div>
        <div class="u-1-4 u-sm-1-2"><button data-download>Download</button></div>
    </div>
</div>

<div id="divWorkoutTemplates" class="striped">

</div>
</main>

<footer>
    <div class="grid">
        <div class="u-1-5 u-sm-1"><a href="/">zwofactory.com</a></div>
        <div class="u-1-5 u-sm-1"><a href="/myworkouts/">My Workouts</a></div>
        <div class="u-1-5 u-sm-1"><a href="/info/">Info</a></div>
        <div class="u-1-5 u-sm-1"><a href="/settings/">Settings</a></div>
        <div class="u-1-5 u-sm-1"><a href="/templates/">Workout Templates</a></div>
    </div>
    <hr />
    <div>&copy; 2017 Matt McNeil</div>
</footer>
<script src="/js/settings.js"></script>
<script src="/js/fileSaver.js"></script>
<script src="/js/zwofactory.js"></script>
<script src="/js/templates.html.js"></script>
</body>
</html>
